.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}

* {
    margin: 0;
}

.itens {
    display: flex;
    gap: 15px;
}

.botao {
    background-color: #be580f;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
}

.botao:hover {
    background-color: #be580fa0;

}

.logo {
    width: 200px;
}

.imagem img {
    width: 100vw;
    height: 88vh;
    object-fit: cover;
    opacity: 40%;
    z-index: 2;
}

.imagem {
    background-color: black;
    z-index: 1;

}

.hero {
    width: 98vw;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-image: url(assets/capa.jpg);
    margin: 0%;


}

.hero h1 {
    color: white;
    font-weight: 800;
    font-size: 3rem;
            
}
.destaque {
    color:#be580f;
}

.hero p {
    color: white;
}

* {
    margin: 0;
}

.pesquisa {
    padding: 1vh 2vw 1vh 1vw;
    border: none;
    outline-color: #be580f;
    font-size: 1rem;
    border-radius: 10px;
    width: 400px;
    cursor: pointer;

}

.input_container {
    padding: 2vw;
    border-radius: 20px;
    background-color: rgba(213, 213, 213, 0.434);
}

.livros {
    height: 90vh;
    padding: 10vw;
}

.grupocard {
    justify-content: flex-start;
    align-items: center;
    margin: 0%;
    background-color: rgba(210, 208, 206, 0.131);
    width: 98vw;
    height: 88vh;

}

.grupocard h2 {
    color: black;
    font-size: medium
}

.cardcontainer {
    display: flex;

}

.card1 {
    background-color: white;
    width: 25%;
    height: 400px;
    border-radius: 15px;
    color: black;
    display: flex;
    margin: 2vw;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 1vh 1vw 1vh 1vw;
}

.imagem1 {
    width: 70%;
    height: 65%;
    padding: 0vw 1vw 1vh 1vw;
    align-items: flex-start;
    border-style: none;

}

.titulo {
    font-size: 20px;
    justify-content: center;
    align-items: flex-end;
    color: black;
    padding: 1vh 0vw 1vh 0vw;
    text-align: center;
    font-size: medium;
}

.autor {
    font-size: 15px;
    justify-content: flex-end;
    align-items: flex-end;
    color: grey;
    padding: 1vh 0vw 1vh 0vw;
    font-size: small;

}

.borrow {
    background-color: #b69b8754;
    color: #be580f;
    border: none;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    justify-content: space-around;
    font-weight: bold;
    width: 230px;
    cursor: pointer;
    transition: 0.3s;
}

.borrow:hover {
    background-color: #be580f;
    color: white;
}

.botoestopo {
    display: flex;
    justify-content: space-between;
    align-items: nowrap;
    padding: 2vw 4vw 0vw 1vw;
    color: #be580f;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

.botoestopo h3 {
    font-size: 14px;

}

.botoestopo h3:hover {
    color: #be580fa0;
}

.botoestopo h2 {
    font-size: 20px;
    margin-left: 20px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.bloco3 {
    justify-content: flex-start;
    align-items: center;
    margin: 0%;
    padding: 0;
    background-color: #b69b8754;
    width: 98vw;
    height: 70vh;

}

.stayconected h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: #be580f;
    font-size: 10px;
    padding: 3vw 0vw 0vw 4vw;

}

.upcoming {
    display: flex;
    justify-content: space-between;
    align-items: nowrap;
    padding: 0vw 4vw 0vw 4vw;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.upcoming h2 {
    font-size: 20px;

}

.calendar {
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.calendar:hover {
    background-color: #be580f;
    color: white;


}

.calendarcontainer {
    display: flex;
    justify-content: space-around;


}

.calend1 {
    background-color: white;
    width: 25%;
    height: 200px;
    border-radius: 15px;
    color: black;
    display: flex;
    margin: 2vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 
}

.text-btn {
    color: #be580f;
    font-size: 12px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    display: flex;
    gap: 8px;
    justify-content: flex-start; 
    align-items: center;
    cursor:pointer;
}

.register {
    align-self: flex-start;
    text-align: left;
    width: 100%;
    padding:15px 0px 10px 10px;
    
}

.topo {
    color: #be580f;
    cursor: pointer;
}

.evento {
    display: flex;
    font-family: "inter", sans-serif;
    font-size: 18px;
    font-weight: bold;
    align-self: flex-start;
    text-align: left;
    margin-left: 15px;
    margin-top: 10px;
  
       
}

.sub {
    display: flex;
    justify-content: flex-start;
    font-family: "inter", sans-serif;
    font-size: small;
    color: grey;
    padding-top: 15px;
    margin-left: 15px;
    
}

.data-icone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 45px;
    font-family: sans-serif;
    background-color: #b69b878e;
    border: none;
    border-radius: 3px;

}

.data-icone .dia {
    font-size: 18px;
    font-weight: bold;
    color: #be580f;

}

.data-icone .mes {
    font-size: 12px;
    font-weight: bold;
    color: #be580f;
}

.cabecalhocard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 10px;
   
}
.blocoajudar{
    background-color: rgba(210, 208, 206, 0.131);
    display: flex;
    flex-direction: column;
    width: 98vw;
    height: 70vh;
    margin:0;
    
}
   
.help {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    padding-top: 40px;
    font-family: sans-serif;
   
}
.help h2{
    font-size: 35px;
    color: black;
    padding: 25px 0px 15px 0px;

}
.help p{
    font-size: medium;
    color: grey;
    display:flex;
    justify-content: center;
    margin-top: 25px;
    

}
.servicos {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-top: 50px;
        
}
.icones {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex: 1;
    
}
.icones p {
    font-size: 0.9rem;
    line-height: 1.4;
    color: grey;
} 

.icones h3{
    margin-bottom: 10px;
    font-weight:bold;
    font-size:20px;
    color:black;
    font-family: sans-serif;;
}

.icones span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #be580f;
    color:white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    margin: 0 auto 15px;
    
}
